---
layout: default2
---

<small>{{ page.date | date: "%Y-%m-%d" }}</small>
<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>

<p class="view">
{% if page.homepage %}
<strong>Speaker:</strong> <a href="{{page.homepage}}">{{ page.speaker }}</a> ({{ page.affiliation }})<br>
{% else %}
<strong>Speaker:</strong> {{ page.speaker }} ({{ page.affiliation }})<br>
{% endif %}
<strong>Room:</strong> {{ page.place }}<br>
<strong>Time:</strong> {{ page.time}} 
{% if page.tencent %}
<br>
<strong>Tencent Meeting:</strong>{{ page.tencent }}</a>
{% endif %}
{% if page.zoom %}
<br>
<strong>Zoom:</strong> <a href="https://us06web.zoom.us/j/{{page.zoomid}}">{{ page.zoomid }}</a>
{% endif %}
</p>

{{page.content}}


{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
